<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>livraria</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>controller.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/CarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnderecoController</display-name>
    <servlet-name>EnderecoController</servlet-name>
    <servlet-class>controller.EnderecoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnderecoController</servlet-name>
    <url-pattern>/EnderecoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CupomController</display-name>
    <servlet-name>CupomController</servlet-name>
    <servlet-class>controller.CupomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CupomController</servlet-name>
    <url-pattern>/CupomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>controller.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutController</display-name>
    <servlet-name>CheckoutController</servlet-name>
    <servlet-class>controller.CheckoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutController</servlet-name>
    <url-pattern>/CheckoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendasController</display-name>
    <servlet-name>VendasController</servlet-name>
    <servlet-class>controller.VendasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendasController</servlet-name>
    <url-pattern>/VendasController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutosController</display-name>
    <servlet-name>ProdutosController</servlet-name>
    <servlet-class>controller.ProdutosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutosController</servlet-name>
    <url-pattern>/ProdutosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrocaController</display-name>
    <servlet-name>TrocaController</servlet-name>
    <servlet-class>controller.TrocaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrocaController</servlet-name>
    <url-pattern>/TrocaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DevolucaoController</display-name>
    <servlet-name>DevolucaoController</servlet-name>
    <servlet-class>controller.DevolucaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DevolucaoController</servlet-name>
    <url-pattern>/DevolucaoController</url-pattern>
  </servlet-mapping>
</web-app>